.root {
  padding: 40px 0 0 0;
  position: relative;
}

.projectLabel{
  position: absolute;
  top: 40px;
  left: 16px;
  z-index: 2;
}

.title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.01em;

  color: white;
}

.projectWrapper {
  height: 703px;
  width: 100%;
  position: relative;
}

.projectImage{
	object-fit: cover;
}

.featureWrapper{
  gap: 4px;
  margin-top: 24px;
  display: flex;
}

.navigation{
  width: 100%;
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 16px;
  z-index: 2;
}

.navBtn {
  margin-left: 16px;
  margin-right: 16px;
  left: 4px;
  bottom: 4px;
  z-index: 3;
}
