@import "@/src/app/variables";

.root {
  position: relative;
}

.projectLabel {
  padding: 40px 16px 0;
  position: relative;
  z-index: 2;
}

.title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.01em;

  color: white;
}

.projectWrapper {
  height: 703px;
  width: 100%;
  position: relative;
}

.projectImage {
  object-fit: cover;
}

.features {
  gap: 4px;
  width: 100%;
  display: flex;
}

.featureWrapper {
  margin-top: 24px;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 16px;
  z-index: 2;
}

.navBtn {
  margin-left: 16px;
  margin-right: 16px;
  z-index: 3;
}

.tagProj{
  background: #141416;
}

@media(min-width: $laptop) {

  .title {
    font-size: 40px;
    line-height: 40px;
  }

  .projectLabel {
    padding: 40px 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .featureWrapper {
    gap: 8px;
    margin-top: 0;
  }

  .navigation {
    bottom: 40px;
  }

  .navBtn {
    margin-left: 40px;
    margin-right: 40px;
  }

  .projectWrapper {
    height: 600px;
  }
}

@media(min-width: $desktop) {
  .tag{
  font-size: 16px;
  }

  .projectWrapper {
    height: 768px;
  }
  .title {
    line-height: 48px;
  }
}
