.root {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  z-index: 1;
}

.fg {
  transform: rotate(-90deg);
  transform-origin: 16px 16px;
}

@keyframes progress-animation {
  from {
    stroke-dasharray: 0 100;
  }

  to {
    stroke-dasharray: 100 100;
  }
}

.progress .fg {
  animation: progress-animation 4s linear 0.1s;
}

.activeNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}