.root {
  flex-direction: column;
  margin: 40px 16px;
  gap: 16px;
}

.title {
  margin: 0;
  align-self: flex-start;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #141416;
}

.cards {
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.cardWrapper {

  position: relative;
  height: 343px;
  width: 100%;

  img {
    object-fit: cover;
    border-radius: 24px;
  }
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.btn {
  position: relative;
  margin: 0 24px 24px;
}
