.root {
	position: fixed;
	top: 0;
	padding: 12px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: #ffffff;
	z-index: 100;
}

.modal {
	top: 56px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: calc(100% - 56px);
}

.modalContent {
	padding: 40px 32px;
	align-items: flex-start;
	flex-direction: column;
	gap: 40px;
	overflow: auto;
}

.menuList {
	width: 100%;
	align-items: flex-start;
	flex-direction: column;
}

.root .menuItem {
	width: 100%;
	padding: 24px 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-decoration: none;
	outline: none;
	color: #141416;

	&:not(:first-child) {
		border-top: 1px solid #f4f5f6;
	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}