@import "variables";

html {
  height: 100%;
  background-color: #ffffff;
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;
}

main {
  height: 100%;
}

body {
  margin: 0;
}

body.disable-scroll {
  width: 100%;
  overflow: hidden;
  touch-action: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
