.root {
  padding: 80px 16px 16px 16px;
  gap: 64px;
  background: rgba(252, 252, 253, 1);
}


.title {
  margin: 0 0 48px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #141416;

  text-align: center;
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.slide{
  width: 100%;
  height: 376px;



}
.slideContent{
  width: 100%;
  display: flex;
align-items: center;
  flex-direction: column;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  z-index: 2;
}


.imageWrapper {
  position: relative;
  width: 164px;
  height: 164px;
  margin-bottom: 24px;
}

.imgTitle{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;

  color: rgba(119, 126, 144, 1)
}

.imgSubTitle{
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
