@import "@/src/app/variables";

.root {
  display: grid;
  padding: 80px 16px 16px 16px;
  background: rgba(252, 252, 253, 1);
}

.title {
  order: 0;
  margin: 0 0 48px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #141416;

  text-align: center;
}

.slider {
  order: 1;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 80px;
}

.slide {
  width: 100%;
}

.slideContent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigation {
  order: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.imageWrapper {
  position: relative;
  width: 164px;
  height: 164px;
  margin-bottom: 24px;

  img {
    border-radius: 150px;
    object-fit: cover;
  }
}

.imgTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.imgSubTitle {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(119, 126, 144, 1)
}

@media(min-width: $laptop) {
  .root {
    flex-direction: row;
    padding: 80px 40px 40px;
    grid-template-columns: 1fr 1fr;
  }

  .navigation {
    order: 2;
  }

  .slider {
    order: 1
  }


  .imageWrapper {
    width: 240px;
    height: 240px;
    margin-bottom: 88px;
  }


  .imgTitle {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01em;
  }

  .imgSubTitle {
    text-align: left;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
  }
  .slideContent {
    align-items: flex-start;
  }

  .title {
    text-align: left;

    font-size: 40px;
    line-height: 40px;
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }
}
