@import "@/src/app/variables";

.root {
	width: 100%;
	height: 375px;
}

.marker {
	position: relative;
	left: -16px;
	top: -16px;
	background: transparent;
}


@media(min-width: $laptop) {
	.root {
		height: 504px;
	}
}
