@import "@/src/app/variables";

.root {
  position: relative;
  overflow: hidden;
}

.title {
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 2;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffffff;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 609px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(min-width: $laptop) {
  .title {
    font-size: 48px;
    line-height: 48px;
    left: 40px;
    bottom: 40px;
  }
  .imageWrapper {
    height: 680px;
  }
}

@media(min-width: $desktop) {
  .title {
    font-size: 64px;
    line-height: 64px;
  }
  .imageWrapper {
    height: 780px;
  }
}
